nav.navbar.navbar-expand-lg.navbar-light.bg-light.justify-content-between
  - if user_signed_in?
    div
      ul.navbar-nav.ml-auto
        li
          = link_to t("menu.home"), home_path, class: "nav-link"
        li
          = link_to t("menu.new"), new_order_path, class: "nav-link"
        li
          = link_to t("menu.current"), orders_active_path, class: "nav-link"
        li
          = link_to t("menu.history"), orders_history_path, class: "nav-link"
        li
          = link_to t("menu.restaurant"), restaurants_path, class: "nav-link"
  #navbarSupportedContent.collapse.d-flex.me-2
    ul.navbar-nav.ml-auto
      ul.navbar-nav.ml-auto
        - I18n.available_locales.each do |locale|
          li.nav-link
            = link_to image_tag("#{locale}.png",height: "18", width: "28", alt: locale), locale: locale
      - if user_signed_in?
        li.nav-item
          = link_to t("devise.shared.links.sign_out"), destroy_user_session_path, method: :delete, class: "nav-link"
          li.nav-item
          = link_to t("devise.shared.links.edit"), edit_user_registration_path,class: "nav-link"
      - else
        li.nav-item
          = link_to t("devise.shared.links.sign_in"), new_user_session_path, class: "nav-link"
        li.nav-item
          = link_to t("devise.shared.links.sign_up"), new_user_registration_path, class: "nav-link"
