- provide :page_title, "Current order"
h1.main__title Current orders
- @orders.each do |order|
  ul
    li
      .card-body
        h3= order.user.email
        h3.card__title= order.title
        p Check out time: #{order.check_out}
        - if @user.id == order.user_id
          .card-body__controll
            = link_to 'Show', order,
              class: "card-body__controll--button btn btn-primary"
            = button_to "Delete", order_path(order),
              class: "card-body__controll--button btn btn-primary", method: :delete
            = button_to "Active", actived_order_path(order),
              class: "card-body__controll--button btn btn-primary", method: :put
