
  
.navbar {
  border-bottom: 2px solid #8d380e;
  font-size: 18px;
  margin-bottom: 10px;

  &__link {
    color: $primary-100 !important;
    font: $links-fonts;
    text-decoration: none;

    &:hover {
      color: $nav-hover !important;
    }
  }
}
