.container {
    max-width: 1300px;
    margin: 0 auto;
    min-width: 320px;
    background-color: #E5E5E5;
    padding: 30px;
} 
.main__title {
    text-align: center;
}

.card-body{
    &__controll {
        display: flex;
        &--button  {
            margin-right: 10px;
        }
    }
}
